<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 1. class name's alias -->
	<typeAliases>
		<typeAlias type="tp.kits3.livedinner.vo.Book" alias="bookVO" />
		<typeAlias type="tp.kits3.livedinner.vo.User" alias="userVO" />
		<typeAlias type="tp.kits3.livedinner.vo.Role" alias="roleVO" />
		<typeAlias type="tp.kits3.livedinner.vo.Tag" alias="tagVO" />
		<typeAlias type="tp.kits3.livedinner.vo.Post" alias="postVO" />
	</typeAliases>


	<!-- 2. config DB connection info like tomcat context.xml DataSource -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url"
					value="jdbc:mariadb://localhost:3306/livedinner" />
				<property name="username" value="root" />
				<property name="password" value="20121996" />
			</dataSource>
		</environment>
	</environments>
	<!-- mapper for each table -->
	<mappers>
		<!-- from /src/main/java/ -->
		<mapper resource="mybatis/mappers/bookMapper.xml" />
		<mapper resource="mybatis/mappers/userMapper.xml" />
		<mapper resource="mybatis/mappers/roleMapper.xml" />
		<mapper resource="mybatis/mappers/tagMapper.xml" />
		<mapper resource="mybatis/mappers/postMapper.xml" />
	</mappers>

</configuration>